components/StorageArchitecture/StorageManagerDeviceServer/resources/StorageManagerDevice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:impl="http://linksmart.eu/"
	xmlns:linksmart="http://linksmart.eu/" targetNamespace="http://linksmart.eu/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:message name="createStorageDeviceRequest">

		<wsdl:part name="config" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="createStorageDeviceResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="createStorageDeviceLocalRequest">

		<wsdl:part name="config" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="createStorageDeviceLocalResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="deleteStorageDeviceRequest">
		<wsdl:part name="id" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="deleteStorageDeviceResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="deleteStorageDeviceLocalRequest">
		<wsdl:part name="filesystemname" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="deleteStorageDeviceLocalResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>
	
	<wsdl:message name="getStorageDevicesRequest">
	</wsdl:message>
	
	<wsdl:message name="getStorageDevicesResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>
	
	<wsdl:message name="getStorageDeviceConfigRequest">
		<wsdl:part name="id" type="xs:string" />
	</wsdl:message>
	
	<wsdl:message name="getStorageDeviceConfigResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>
	
	<wsdl:message name="getSupportedStorageDevicesRequest">
	</wsdl:message>
	
	<wsdl:message name="getSupportedStorageDevicesResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>
	
	<wsdl:message name="updateStorageDeviceRequest">

		<wsdl:part name="config" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="updateStorageDeviceResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="updateStorageDeviceLocalRequest">

		<wsdl:part name="config" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="updateStorageDeviceLocalResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>



	<wsdl:portType name="StorageManager">

		<wsdl:operation name="createStorageDevice">
			<wsdl:input message="impl:createStorageDeviceRequest"
				name="createFileSystemDeviceRequest" />
			<wsdl:output message="impl:createStorageDeviceResponse"
				name="createFileSystemDeviceResponse" />
		</wsdl:operation>

		<wsdl:operation name="createStorageDeviceLocal">
			<wsdl:input message="impl:createStorageDeviceLocalRequest"
				name="createFileSystemDeviceLocalRequest" />
			<wsdl:output message="impl:createStorageDeviceLocalResponse"
				name="createFileSystemDeviceLocalResponse" />
		</wsdl:operation>

		<wsdl:operation name="deleteStorageDevice">
			<wsdl:input message="impl:deleteStorageDeviceRequest"
				name="deleteFileSystemDeviceRequest" />
			<wsdl:output message="impl:deleteStorageDeviceResponse"
				name="deleteFileSystemDeviceResponse" />
		</wsdl:operation>

		<wsdl:operation name="deleteStorageDeviceLocal">
			<wsdl:input message="impl:deleteStorageDeviceLocalRequest"
				name="deleteFileSystemDeviceLocalRequest" />
			<wsdl:output message="impl:deleteStorageDeviceLocalResponse"
				name="deleteFileSystemDeviceLocalResponse" />
		</wsdl:operation>

		<wsdl:operation name="getSupportedStorageDevices">
			<wsdl:input message="impl:getSupportedStorageDevicesRequest"
				name="getSupportedFileSystemDevicesRequest" />
			<wsdl:output message="impl:getSupportedStorageDevicesResponse"
				name="getSupportedFileSystemDevicesResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getStorageDevices">
			<wsdl:input message="impl:getStorageDevicesRequest"
				name="getFileSystemDevicesRequest" />
			<wsdl:output message="impl:getStorageDevicesResponse"
				name="getFileSystemDevicesResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getStorageDeviceConfig">
			<wsdl:input message="impl:getStorageDeviceConfigRequest"
				name="findFileSystemDeviceRequest" />
			<wsdl:output message="impl:getStorageDeviceConfigResponse"
				name="findFileSystemDeviceResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="updateStorageDevice">
			<wsdl:input message="impl:updateStorageDeviceRequest"
				name="updateFileSystemDeviceRequest" />
			<wsdl:output message="impl:updateStorageDeviceResponse"
				name="updateFileSystemDeviceResponse" />
		</wsdl:operation>

		<wsdl:operation name="updateStorageDeviceLocal">
			<wsdl:input message="impl:updateStorageDeviceLocalRequest"
				name="updateFileSystemDeviceLocalRequest" />
			<wsdl:output message="impl:updateStorageDeviceLocalResponse"
				name="updateFileSystemDeviceLocalResponse" />
		</wsdl:operation>

	</wsdl:portType>


	<binding name="SMbind" type="impl:StorageManager">
		<linksmart:binding device="file:./resources/Device.owl#Laptop_1" />
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="createStorageDevice">
			<soap:operation soapAction="createFileSystemDevice" />
			<wsdl:input name="createFileSystemDeviceRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="createFileSystemDeviceResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="createStorageDeviceLocal">
			<soap:operation soapAction="createFileSystemDeviceLocal" />
			<wsdl:input name="createFileSystemDeviceLocalRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="createFileSystemDeviceLocalResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="deleteStorageDevice">
			<soap:operation soapAction="deleteFileSystemDevice" />
			<wsdl:input name="deleteFileSystemDeviceRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="deleteFileSystemDeviceResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="deleteStorageDeviceLocal">
			<soap:operation soapAction="deleteFileSystemDeviceLocal" />
			<wsdl:input name="deleteFileSystemDeviceLocalRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="deleteFileSystemDeviceLocalResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getSupportedStorageDevices">
			<soap:operation soapAction="getSupportedFileSystemDevices" />
			<wsdl:input name="getSupportedFileSystemDevicesRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getSupportedFileSystemDevicesResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getStorageDevices">
			<soap:operation soapAction="getFileSystemDevices" />
			<wsdl:input name="getFileSystemDevicesRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getFileSystemDevicesResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getStorageDeviceConfig">
			<soap:operation soapAction="findFileSystemDevice" />
			<wsdl:input name="findFileSystemDeviceRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="findFileSystemDeviceResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="updateStorageDevice">
			<soap:operation soapAction="updateFileSystemDevice" />
			<wsdl:input name="updateFileSystemDeviceRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="updateFileSystemDeviceResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="updateStorageDeviceLocal">
			<soap:operation soapAction="updateFileSystemDeviceLocal" />
			<wsdl:input name="updateFileSystemDeviceLocalRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="updateFileSystemDeviceLocalResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

	</binding>
	<service name="SM">
		<port name="SMPort" binding="impl:SMbind">
			<soap:address location="http://localhost:8083/services/storagemanager" />
		</port>
	</service>
</definitions>
