ddk/ServiceCompiler/resources/deployment/resources/SelfManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:impl="http://linksmart.eu" targetNamespace="http://linksmart.eu">
  
  <message name="getBatteryRequest">
  </message>

  <message name="getBatteryResponse">
    <part name="Battery" type="xs:double"/>
  </message>

  <message name="changeProtocolRequest">
    <part name="Protocol" type="xs:string"/>
  </message>

  <message name="changeProtocolResponse">
    <part name="ChangeProtocolResult" type="xs:string"/>
  </message>
  
  <message name="getCurrentProtocolRequest">    
  </message>
    <message name="getCurrentProtocolResponse">
    <part name="CurrentProtocol" type="xs:string"/>
  </message>

  
  <message name="getSupportedProtocolsRequest">
  </message>
  
  <message name="getSupportedProtocolsResponse">
    <part name="Protocols" type="xs:string"/>
  </message>
  
  <portType name="SelfManagementServicePort">
    <operation name="getBattery">
      <input message="impl:getBatteryRequest" name="getBatteryRequest"/>
      <output message="impl:getBatteryResponse" name="getBatteryResponse"/>
    </operation>
    <operation name="changeProtocol">
      <input message="impl:changeProtocolRequest" name="changeProtocolRequest"/>
      <output message="impl:changeProtocolResponse" name="changeProtocolResponse"/>
    </operation>
    <operation name="getSupportedProtocols">
      <input message="impl:getSupportedProtocolsRequest" name="getSupportedProtocolsRequest"/>
      <output message="impl:getSupportedProtocolsResponse" name="getSupportedProtocolsResponse"/>
    </operation>
    <operation name="getCurrentProtocol">
      <input message="impl:getCurrentProtocolRequest" name="getCurrentProtocolRequest"/>
      <output message="impl:getCurrentProtocolResponse" name="getCurrentProtocolResponse"/>
    </operation>
  </portType>

  <binding name="SelfManagementServiceBinding" type="impl:SelfManagementServicePort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getBattery">
      <soap:operation soapAction="getBattery" style="rpc"/>
      <input name="getBatteryRequest">
        <soap:body use="literal" namespace="http://linksmart.eu"/>
      </input>
      <output name="getBatteryResponse">
        <soap:body use="literal" namespace="http://linksmart.eu"/>
      </output>
    </operation>

    <operation name="changeProtocol">
      <soap:operation soapAction="changeProtocol" style="rpc"/>
      <input name="changeProtocolRequest">
        <soap:body use="literal" namespace="http://linksmart.eu"/>
      </input>
      <output name="changeProtocolResponse">
        <soap:body use="literal" namespace="http://linksmart.eu"/>
      </output>
    </operation>
    <operation name="getSupportedProtocols">
      <soap:operation soapAction="getSupportedProtocols" style="rpc"/>
      <input name="getSupportedProtocolsRequest">
        <soap:body use="literal" namespace="http://linksmart.eu"/>
      </input>
      <output name="getSupportedProtocolsResponse">
        <soap:body use="literal" namespace="http://linksmart.eu"/>
      </output>
    </operation>
        <operation name="getCurrentProtocol">
      <soap:operation soapAction="getCurrentProtocol" style="rpc"/>
      <input name="getCurrentProtocolRequest">
        <soap:body use="literal" namespace="http://linksmart.eu"/>
      </input>
      <output name="getCurrentProtocolResponse">
        <soap:body use="literal" namespace="http://linksmart.eu"/>
      </output>
    </operation>
  </binding>
  <service name="SelfManagementService">
    <port name="SelfManagementServicePort" binding="impl:SelfManagementServiceBinding">
      <soap:address location="http://localhost:8082/SelfManagement"/>
    </port>
  </service>
</definitions>