components/deployment/examples/linksmart-service-example/calculator-ws-client/src/main/resources/calculator.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://calculator.example.linksmart.eu/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="Calculator" targetNamespace="http://calculator.example.linksmart.eu/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://calculator.example.linksmart.eu/"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://calculator.example.linksmart.eu/">
			<xsd:element name="add" type="tns:add" />
			<xsd:complexType name="add">
				<xsd:sequence>
					<xsd:element name="arg0" type="xsd:int" />
					<xsd:element name="arg1" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="addResponse" type="tns:addResponse" />
			<xsd:complexType name="addResponse">
				<xsd:sequence>
					<xsd:element name="return" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="add">
		<wsdl:part element="tns:add" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CalculatorPortType">
		<wsdl:operation name="add">
			<wsdl:input message="tns:add" name="add"></wsdl:input>
			<wsdl:output message="tns:addResponse" name="addResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculatorSoapBinding" type="tns:CalculatorPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="add">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="addResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Calculator">
		<wsdl:port binding="tns:CalculatorSoapBinding" name="CalculatorPort">
			<soap:address location="http://localhost:9090/cxf/services/Calculator" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>