components/DotNetCoreMiddleware/DiscoveryManager/DiscoveryManager/Web References/NetworkManager/NetworkManagerApplication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://network.linksmart.eu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://network.linksmart.eu" targetNamespace="http://network.linksmart.eu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://network.linksmart.eu">
      <xsd:import namespace="http://xml.apache.org/xml-soap" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="CryptoHIDResult">
        <xsd:sequence>
          <xsd:element name="HID" nillable="true" type="xsd:string" />
          <xsd:element name="certRef" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NMResponse">
        <xsd:sequence>
          <xsd:element name="data" nillable="true" type="xsd:string" />
          <xsd:element name="sessionID" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.apache.org/xml-soap">
      <xsd:import namespace="http://network.linksmart.eu" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="Vector">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="xsd:anyType" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getHIDsbyDescriptionAsStringResponse">
    <wsdl:part name="getHIDsbyDescriptionAsStringReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getIPbyHIDResponse">
    <wsdl:part name="getIPbyHIDReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getHostHIDsAsStringRequest" />
  <wsdl:message name="removeAllHIDRequest" />
  <wsdl:message name="getHostHIDsbyDescriptionAsStringResponse">
    <wsdl:part name="getHostHIDsbyDescriptionAsStringReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDescriptionbyHIDRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getHIDsbyDescriptionResponse">
    <wsdl:part name="getHIDsbyDescriptionReturn" type="apachesoap:Vector" />
  </wsdl:message>
  <wsdl:message name="renewHIDAttributesRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createHIDRequest1">
    <wsdl:part name="in0" type="xsd:long" />
    <wsdl:part name="in1" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="sendDataResponse">
    <wsdl:part name="sendDataReturn" type="impl:NMResponse" />
  </wsdl:message>
  <wsdl:message name="synchronizeSessionsListRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getInformationAssociatedWithHIDResponse">
    <wsdl:part name="getInformationAssociatedWithHIDReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="renewHIDInfoRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="openSessionResponse">
    <wsdl:part name="openSessionReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="renewHIDAttributesResponse">
    <wsdl:part name="renewHIDAttributesReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="renewHIDInfoResponse">
    <wsdl:part name="renewHIDInfoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getHIDsAsStringRequest" />
  <wsdl:message name="addSessionRemoteClientRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createCryptoHIDfromReferenceRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNMPositionResponse">
    <wsdl:part name="getNMPositionReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getHostHIDsbyDescriptionRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createHIDRequest" />
  <wsdl:message name="getSessionParameterResponse">
    <wsdl:part name="getSessionParameterReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createCryptoHIDfromReferenceResponse">
    <wsdl:part name="createCryptoHIDfromReferenceReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="renewHIDResponse">
    <wsdl:part name="renewHIDReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="renewHIDEndpointResponse">
    <wsdl:part name="renewHIDEndpointReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="renewHIDRequest">
    <wsdl:part name="in0" type="xsd:long" />
    <wsdl:part name="in1" type="xsd:int" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="removeHIDResponse" />
  <wsdl:message name="getHIDsResponse">
    <wsdl:part name="getHIDsReturn" type="apachesoap:Vector" />
  </wsdl:message>
  <wsdl:message name="getHostHIDsbyDescriptionAsStringRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createCryptoHIDRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createHIDwDescRequest1">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNMPositionAuthRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="closeSessionResponse" />
  <wsdl:message name="getIPbyHIDRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getContextHIDsAsStringRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="receiveDataResponse">
    <wsdl:part name="receiveDataReturn" type="impl:NMResponse" />
  </wsdl:message>
  <wsdl:message name="createHIDwDescResponse">
    <wsdl:part name="createHIDwDescReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getHIDByAttributesResponse">
    <wsdl:part name="getHIDByAttributesReturn" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:message name="addSessionRemoteClientResponse" />
  <wsdl:message name="setSessionParameterRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="addContextRequest">
    <wsdl:part name="in0" type="xsd:long" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="openSessionRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getDescriptionbyHIDResponse">
    <wsdl:part name="getDescriptionbyHIDReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createHIDwDescRequest">
    <wsdl:part name="in0" type="xsd:long" />
    <wsdl:part name="in1" type="xsd:int" />
    <wsdl:part name="in2" type="xsd:string" />
    <wsdl:part name="in3" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="addContextResponse">
    <wsdl:part name="addContextReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="removeHIDRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getContextHIDsResponse">
    <wsdl:part name="getContextHIDsReturn" type="apachesoap:Vector" />
  </wsdl:message>
  <wsdl:message name="getSessionParameterRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getEndpointbyHIDRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="startNMResponse">
    <wsdl:part name="startNMReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="closeSessionRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getInformationAssociatedWithHIDRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="startNMRequest" />
  <wsdl:message name="createCryptoHIDResponse">
    <wsdl:part name="createCryptoHIDReturn" type="impl:CryptoHIDResult" />
  </wsdl:message>
  <wsdl:message name="getHostHIDsAsStringResponse">
    <wsdl:part name="getHostHIDsAsStringReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createHIDResponse">
    <wsdl:part name="createHIDReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getContextHIDsAsStringResponse">
    <wsdl:part name="getContextHIDsAsStringReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getHostHIDsResponse">
    <wsdl:part name="getHostHIDsReturn" type="apachesoap:Vector" />
  </wsdl:message>
  <wsdl:message name="renewHIDEndpointRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getContextHIDsRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="receiveDataRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
    <wsdl:part name="in3" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getHostHIDsRequest" />
  <wsdl:message name="getHIDByAttributesRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
    <wsdl:part name="in3" type="xsd:long" />
    <wsdl:part name="in4" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getNMPositionAuthResponse">
    <wsdl:part name="getNMPositionAuthReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="synchronizeSessionsListResponse">
    <wsdl:part name="synchronizeSessionsListReturn" type="apachesoap:Vector" />
  </wsdl:message>
  <wsdl:message name="getHIDsbyDescriptionRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createHIDwDescResponse1">
    <wsdl:part name="createHIDwDescReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getHIDsbyDescriptionAsStringRequest">
    <wsdl:part name="in0" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getNMPositionRequest" />
  <wsdl:message name="createHIDResponse1">
    <wsdl:part name="createHIDReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="stopNMResponse">
    <wsdl:part name="stopNMReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="sendDataRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
    <wsdl:part name="in2" type="xsd:string" />
    <wsdl:part name="in3" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getEndpointbyHIDResponse">
    <wsdl:part name="getEndpointbyHIDReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getHIDsAsStringResponse">
    <wsdl:part name="getHIDsAsStringReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="setSessionParameterResponse" />
  <wsdl:message name="removeAllHIDResponse" />
  <wsdl:message name="getHostHIDsbyDescriptionResponse">
    <wsdl:part name="getHostHIDsbyDescriptionReturn" type="impl:ArrayOf_xsd_string" />
  </wsdl:message>
  <wsdl:message name="stopNMRequest" />
  <wsdl:message name="getHIDsRequest" />
  <wsdl:portType name="NetworkManagerApplication">
    <wsdl:operation name="removeHID" parameterOrder="in0">
      <wsdl:input name="removeHIDRequest" message="impl:removeHIDRequest" />
      <wsdl:output name="removeHIDResponse" message="impl:removeHIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="createCryptoHID" parameterOrder="in0 in1">
      <wsdl:input name="createCryptoHIDRequest" message="impl:createCryptoHIDRequest" />
      <wsdl:output name="createCryptoHIDResponse" message="impl:createCryptoHIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="openSession" parameterOrder="in0 in1">
      <wsdl:input name="openSessionRequest" message="impl:openSessionRequest" />
      <wsdl:output name="openSessionResponse" message="impl:openSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="sendData" parameterOrder="in0 in1 in2 in3">
      <wsdl:input name="sendDataRequest" message="impl:sendDataRequest" />
      <wsdl:output name="sendDataResponse" message="impl:sendDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="receiveData" parameterOrder="in0 in1 in2 in3">
      <wsdl:input name="receiveDataRequest" message="impl:receiveDataRequest" />
      <wsdl:output name="receiveDataResponse" message="impl:receiveDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="closeSession" parameterOrder="in0">
      <wsdl:input name="closeSessionRequest" message="impl:closeSessionRequest" />
      <wsdl:output name="closeSessionResponse" message="impl:closeSessionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSessionParameter" parameterOrder="in0 in1">
      <wsdl:input name="getSessionParameterRequest" message="impl:getSessionParameterRequest" />
      <wsdl:output name="getSessionParameterResponse" message="impl:getSessionParameterResponse" />
    </wsdl:operation>
    <wsdl:operation name="setSessionParameter" parameterOrder="in0 in1 in2">
      <wsdl:input name="setSessionParameterRequest" message="impl:setSessionParameterRequest" />
      <wsdl:output name="setSessionParameterResponse" message="impl:setSessionParameterResponse" />
    </wsdl:operation>
    <wsdl:operation name="synchronizeSessionsList" parameterOrder="in0 in1">
      <wsdl:input name="synchronizeSessionsListRequest" message="impl:synchronizeSessionsListRequest" />
      <wsdl:output name="synchronizeSessionsListResponse" message="impl:synchronizeSessionsListResponse" />
    </wsdl:operation>
    <wsdl:operation name="addSessionRemoteClient" parameterOrder="in0 in1 in2">
      <wsdl:input name="addSessionRemoteClientRequest" message="impl:addSessionRemoteClientRequest" />
      <wsdl:output name="addSessionRemoteClientResponse" message="impl:addSessionRemoteClientResponse" />
    </wsdl:operation>
    <wsdl:operation name="createHID">
      <wsdl:input name="createHIDRequest" message="impl:createHIDRequest" />
      <wsdl:output name="createHIDResponse" message="impl:createHIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="createHID" parameterOrder="in0 in1">
      <wsdl:input name="createHIDRequest1" message="impl:createHIDRequest1" />
      <wsdl:output name="createHIDResponse1" message="impl:createHIDResponse1" />
    </wsdl:operation>
    <wsdl:operation name="createHIDwDesc" parameterOrder="in0 in1 in2 in3">
      <wsdl:input name="createHIDwDescRequest" message="impl:createHIDwDescRequest" />
      <wsdl:output name="createHIDwDescResponse" message="impl:createHIDwDescResponse" />
    </wsdl:operation>
    <wsdl:operation name="createHIDwDesc" parameterOrder="in0 in1">
      <wsdl:input name="createHIDwDescRequest1" message="impl:createHIDwDescRequest1" />
      <wsdl:output name="createHIDwDescResponse1" message="impl:createHIDwDescResponse1" />
    </wsdl:operation>
    <wsdl:operation name="createCryptoHIDfromReference" parameterOrder="in0 in1">
      <wsdl:input name="createCryptoHIDfromReferenceRequest" message="impl:createCryptoHIDfromReferenceRequest" />
      <wsdl:output name="createCryptoHIDfromReferenceResponse" message="impl:createCryptoHIDfromReferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="renewHID" parameterOrder="in0 in1 in2">
      <wsdl:input name="renewHIDRequest" message="impl:renewHIDRequest" />
      <wsdl:output name="renewHIDResponse" message="impl:renewHIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="renewHIDAttributes" parameterOrder="in0 in1 in2">
      <wsdl:input name="renewHIDAttributesRequest" message="impl:renewHIDAttributesRequest" />
      <wsdl:output name="renewHIDAttributesResponse" message="impl:renewHIDAttributesResponse" />
    </wsdl:operation>
    <wsdl:operation name="renewHIDInfo" parameterOrder="in0 in1 in2">
      <wsdl:input name="renewHIDInfoRequest" message="impl:renewHIDInfoRequest" />
      <wsdl:output name="renewHIDInfoResponse" message="impl:renewHIDInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="renewHIDEndpoint" parameterOrder="in0 in1 in2">
      <wsdl:input name="renewHIDEndpointRequest" message="impl:renewHIDEndpointRequest" />
      <wsdl:output name="renewHIDEndpointResponse" message="impl:renewHIDEndpointResponse" />
    </wsdl:operation>
    <wsdl:operation name="addContext" parameterOrder="in0 in1">
      <wsdl:input name="addContextRequest" message="impl:addContextRequest" />
      <wsdl:output name="addContextResponse" message="impl:addContextResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHIDs">
      <wsdl:input name="getHIDsRequest" message="impl:getHIDsRequest" />
      <wsdl:output name="getHIDsResponse" message="impl:getHIDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHIDsAsString">
      <wsdl:input name="getHIDsAsStringRequest" message="impl:getHIDsAsStringRequest" />
      <wsdl:output name="getHIDsAsStringResponse" message="impl:getHIDsAsStringResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHostHIDs">
      <wsdl:input name="getHostHIDsRequest" message="impl:getHostHIDsRequest" />
      <wsdl:output name="getHostHIDsResponse" message="impl:getHostHIDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHostHIDsAsString">
      <wsdl:input name="getHostHIDsAsStringRequest" message="impl:getHostHIDsAsStringRequest" />
      <wsdl:output name="getHostHIDsAsStringResponse" message="impl:getHostHIDsAsStringResponse" />
    </wsdl:operation>
    <wsdl:operation name="getContextHIDs" parameterOrder="in0 in1">
      <wsdl:input name="getContextHIDsRequest" message="impl:getContextHIDsRequest" />
      <wsdl:output name="getContextHIDsResponse" message="impl:getContextHIDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getContextHIDsAsString" parameterOrder="in0 in1">
      <wsdl:input name="getContextHIDsAsStringRequest" message="impl:getContextHIDsAsStringRequest" />
      <wsdl:output name="getContextHIDsAsStringResponse" message="impl:getContextHIDsAsStringResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHIDsbyDescription" parameterOrder="in0">
      <wsdl:input name="getHIDsbyDescriptionRequest" message="impl:getHIDsbyDescriptionRequest" />
      <wsdl:output name="getHIDsbyDescriptionResponse" message="impl:getHIDsbyDescriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHIDsbyDescriptionAsString" parameterOrder="in0">
      <wsdl:input name="getHIDsbyDescriptionAsStringRequest" message="impl:getHIDsbyDescriptionAsStringRequest" />
      <wsdl:output name="getHIDsbyDescriptionAsStringResponse" message="impl:getHIDsbyDescriptionAsStringResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHostHIDsbyDescription" parameterOrder="in0">
      <wsdl:input name="getHostHIDsbyDescriptionRequest" message="impl:getHostHIDsbyDescriptionRequest" />
      <wsdl:output name="getHostHIDsbyDescriptionResponse" message="impl:getHostHIDsbyDescriptionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHostHIDsbyDescriptionAsString" parameterOrder="in0">
      <wsdl:input name="getHostHIDsbyDescriptionAsStringRequest" message="impl:getHostHIDsbyDescriptionAsStringRequest" />
      <wsdl:output name="getHostHIDsbyDescriptionAsStringResponse" message="impl:getHostHIDsbyDescriptionAsStringResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDescriptionbyHID" parameterOrder="in0">
      <wsdl:input name="getDescriptionbyHIDRequest" message="impl:getDescriptionbyHIDRequest" />
      <wsdl:output name="getDescriptionbyHIDResponse" message="impl:getDescriptionbyHIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getIPbyHID" parameterOrder="in0">
      <wsdl:input name="getIPbyHIDRequest" message="impl:getIPbyHIDRequest" />
      <wsdl:output name="getIPbyHIDResponse" message="impl:getIPbyHIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEndpointbyHID" parameterOrder="in0">
      <wsdl:input name="getEndpointbyHIDRequest" message="impl:getEndpointbyHIDRequest" />
      <wsdl:output name="getEndpointbyHIDResponse" message="impl:getEndpointbyHIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="removeAllHID">
      <wsdl:input name="removeAllHIDRequest" message="impl:removeAllHIDRequest" />
      <wsdl:output name="removeAllHIDResponse" message="impl:removeAllHIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="startNM">
      <wsdl:input name="startNMRequest" message="impl:startNMRequest" />
      <wsdl:output name="startNMResponse" message="impl:startNMResponse" />
    </wsdl:operation>
    <wsdl:operation name="stopNM">
      <wsdl:input name="stopNMRequest" message="impl:stopNMRequest" />
      <wsdl:output name="stopNMResponse" message="impl:stopNMResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNMPosition">
      <wsdl:input name="getNMPositionRequest" message="impl:getNMPositionRequest" />
      <wsdl:output name="getNMPositionResponse" message="impl:getNMPositionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getNMPositionAuth" parameterOrder="in0">
      <wsdl:input name="getNMPositionAuthRequest" message="impl:getNMPositionAuthRequest" />
      <wsdl:output name="getNMPositionAuthResponse" message="impl:getNMPositionAuthResponse" />
    </wsdl:operation>
    <wsdl:operation name="getInformationAssociatedWithHID" parameterOrder="in0 in1">
      <wsdl:input name="getInformationAssociatedWithHIDRequest" message="impl:getInformationAssociatedWithHIDRequest" />
      <wsdl:output name="getInformationAssociatedWithHIDResponse" message="impl:getInformationAssociatedWithHIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="getHIDByAttributes" parameterOrder="in0 in1 in2 in3 in4">
      <wsdl:input name="getHIDByAttributesRequest" message="impl:getHIDByAttributesRequest" />
      <wsdl:output name="getHIDByAttributesResponse" message="impl:getHIDByAttributesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetworkManagerApplicationSoapBinding" type="impl:NetworkManagerApplication">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="removeHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="removeHIDRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="removeHIDResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCryptoHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createCryptoHIDRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="createCryptoHIDResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="openSession">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="openSessionRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="openSessionResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="sendDataRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="sendDataResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="receiveDataRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="receiveDataResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeSession">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="closeSessionRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="closeSessionResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSessionParameter">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getSessionParameterRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getSessionParameterResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSessionParameter">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="setSessionParameterRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="setSessionParameterResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchronizeSessionsList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="synchronizeSessionsListRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="synchronizeSessionsListResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addSessionRemoteClient">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addSessionRemoteClientRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="addSessionRemoteClientResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createHIDRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="createHIDResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createHIDRequest1">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="createHIDResponse1">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHIDwDesc">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createHIDwDescRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="createHIDwDescResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createHIDwDesc">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createHIDwDescRequest1">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="createHIDwDescResponse1">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCryptoHIDfromReference">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createCryptoHIDfromReferenceRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="createCryptoHIDfromReferenceResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="renewHIDRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="renewHIDResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewHIDAttributes">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="renewHIDAttributesRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="renewHIDAttributesResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewHIDInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="renewHIDInfoRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="renewHIDInfoResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="renewHIDEndpoint">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="renewHIDEndpointRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="renewHIDEndpointResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addContext">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addContextRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="addContextResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHIDs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHIDsRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getHIDsResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHIDsAsString">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHIDsAsStringRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getHIDsAsStringResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostHIDs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHostHIDsRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getHostHIDsResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostHIDsAsString">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHostHIDsAsStringRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getHostHIDsAsStringResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContextHIDs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getContextHIDsRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getContextHIDsResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContextHIDsAsString">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getContextHIDsAsStringRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getContextHIDsAsStringResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHIDsbyDescription">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHIDsbyDescriptionRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getHIDsbyDescriptionResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHIDsbyDescriptionAsString">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHIDsbyDescriptionAsStringRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getHIDsbyDescriptionAsStringResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostHIDsbyDescription">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHostHIDsbyDescriptionRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getHostHIDsbyDescriptionResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostHIDsbyDescriptionAsString">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHostHIDsbyDescriptionAsStringRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getHostHIDsbyDescriptionAsStringResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDescriptionbyHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getDescriptionbyHIDRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getDescriptionbyHIDResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIPbyHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getIPbyHIDRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getIPbyHIDResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEndpointbyHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getEndpointbyHIDRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getEndpointbyHIDResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeAllHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="removeAllHIDRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="removeAllHIDResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startNM">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="startNMRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="startNMResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stopNM">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="stopNMRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="stopNMResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNMPosition">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getNMPositionRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getNMPositionResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNMPositionAuth">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getNMPositionAuthRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getNMPositionAuthResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInformationAssociatedWithHID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getInformationAssociatedWithHIDRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getInformationAssociatedWithHIDResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHIDByAttributes">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getHIDByAttributesRequest">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:input>
      <wsdl:output name="getHIDByAttributesResponse">
        <wsdlsoap:body use="literal" namespace="http://network.linksmart.eu" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetworkManagerApplicationService">
    <wsdl:port name="NetworkManagerApplication" binding="impl:NetworkManagerApplicationSoapBinding">
      <wsdlsoap:address location="http://localhost:8082/axis/services/NetworkManagerApplication" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>