components/StorageArchitecture/LockManagerDeviceServer/resources/LockManagerDevice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:impl="http://linksmart.eu/"
	xmlns:linksmart="http://linksmart.eu/" targetNamespace="http://linksmart.eu/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:message name="getLockInfoRequest">
		<wsdl:part name="lock" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="getLockInfoResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="getLockRequest">
		<wsdl:part name="lock" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="getLockResponse">
		<wsdl:part name="result" type="xs:string" />
	</wsdl:message>
	
	<wsdl:portType name="LockManager">

		<wsdl:operation name="getLockInfo">
			<wsdl:input message="impl:getLockInfoRequest"
				name="getLockInfoRequest" />
			<wsdl:output message="impl:getLockInfoResponse"
				name="getLockInfoResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="getLock">
			<wsdl:input message="impl:getLockRequest"
				name="getLockRequest" />
			<wsdl:output message="impl:getLockResponse"
				name="getLockResponse" />
		</wsdl:operation>
	</wsdl:portType>
		
	<wsdl:binding name="LMbind" type="impl:LockManager">
		<linksmart:binding device="file:./resources/Device.owl#Laptop_1" />
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getLockInfo">
			<soap:operation soapAction="getLockInfo" />
			<wsdl:input name="getLockInfoRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getLockInfoResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getLock">
			<soap:operation soapAction="getLock" />
			<wsdl:input name="getLockRequest">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getLockResponse">
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://storagemanager.storage.linksmart.eu" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
		
	<service name="LM">
		<port name="LMPort" binding="impl:LMbind">
			<soap:address location="http://localhost:8083/services/lockmanager" />
		</port>
	</service>
</definitions>
