ddk/ServiceCompiler/resources/test/eu/linksmart/abloy_el582.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Klaus Marius Hansen (Ã
rhus Universitet) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://lock.device.eudomain.au.dk" targetNamespace="http://lock.device.eudomain.au.dk" xmlns:linksmart="http://linksmart.eu/">
	<message name="R1">
		<part name="req1" type="xs:string"/>
	</message>
	<message name="R2">
		<part name="req2" type="xs:string"/>
	</message>
	<message name="R3">
		<part name="req3" type="xs:string"/>
	</message>
	<message name="Rep1">
		<part name="rep1" type="xs:boolean"/>
	</message>
	<message name="Rep2">
		<part name="rep2" type="xs:boolean"/>
	</message>
	<message name="Rep3">
		<part name="rep3" type="xs:int"/>
	</message>
	<portType name="EsnLockPort">
		<operation name="lock">
			<input message="ns:R1" name="R1"/>
			<output message="ns:Rep1" name="Rep1"/>
		</operation>
		<operation name="unlock">
			<input message="ns:R2" name="R2"/>
			<output message="ns:Rep2" name="Rep2"/>
		</operation>
		<operation name="getStatus">
			<input message="ns:R3" name="R3"/>
			<output message="ns:Rep3" name="Rep3"/>
		</operation>
	</portType>
	<binding name="EsnLockSOAP" type="ns:EsnLockPort">
		<linksmart:binding device="http://eu.linksmart/ontology/device-ontology.owl#pico_th03"/>
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="lock">
			<soap:operation soapAction="http://lock.device.eudomain.au.dk/lock" style="rpc"/>
			<input name="R1">
				<soap:body use="literal" namespace="http://lock.device.eudomain.au.dk"/>
			</input>
			<output name="Rep1">
				<soap:body use="literal" namespace="http://lock.device.eudomain.au.dk"/>
			</output>
		</operation>
		<operation name="unlock">
			<soap:operation soapAction="http://lock.device.eudomain.au.dk/unlock" style="rpc"/>
			<input name="R2">
				<soap:body use="literal" namespace="http://lock.device.eudomain.au.dk"/>
			</input>
			<output name="Rep2">
				<soap:body use="literal" namespace="http://lock.device.eudomain.au.dk"/>
			</output>
		</operation>
		<operation name="getStatus">
			<soap:operation soapAction="http://lock.device.eudomain.au.dk/getStatus" style="rpc"/>
			<input name="R3">
				<soap:body use="literal" namespace="http://lock.device.eudomain.au.dk"/>
			</input>
			<output name="Rep3">
				<soap:body use="literal" namespace="http://lock.device.eudomain.au.dk"/>
			</output>
		</operation>
	</binding>
	<service name="EsnLockService">
		<port name="esnLock" binding="ns:EsnLockSOAP">
			<soap:address location="http://dmz-168.daimi.au.dk:8080/axis/services/esnLock"/>
		</port>
	</service>
</definitions>
