ddk/ServiceCompiler/resources/test/eu/linksmart/BloodPressure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.bpm.linksmart.clab.sis.sag.com" xmlns:linksmart="http://linksmart.eu/" xmlns:axis2="http://server.bpm.linksmart.clab.sis.sag.com" xmlns:impl="http://server.bpm.linksmart.clab.sis.sag.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
       <xs:import namespace="http://server.bpm.linksmart.clab.sis.sag.com" schemaLocation="BloodPressureTypes.xsd"/>
    </xs:schema>   
  </wsdl:types>
  <wsdl:message name="configureDeviceRequest">
    <wsdl:part name="configuration" type="impl:configureDevice"/>
  </wsdl:message>
  <wsdl:message name="configureDeviceResponse">
    <wsdl:part name="return" type="xs:boolean"/>
  </wsdl:message>
  <wsdl:message name="connectDeviceRequest">
    <wsdl:part name="parameters" type="impl:connectDevice"/>
  </wsdl:message>
  <wsdl:message name="connectDeviceResponse">
    <wsdl:part name="return" type="xs:boolean"/>
  </wsdl:message>
  <wsdl:message name="getConfigurationRequest">
  </wsdl:message>
  <wsdl:message name="getConfigurationResponse">
    <wsdl:part name="return" type="impl:configureDevice"/>
  </wsdl:message>
  <wsdl:message name="disconnectDeviceRequest">
  </wsdl:message>
  <wsdl:message name="disconnectDeviceResponse">
    <wsdl:part name="return" type="xs:boolean"/>
  </wsdl:message>
  <wsdl:message name="searchDevicesRequest">
  </wsdl:message>
  <wsdl:message name="searchDevicesResponse">
    <wsdl:part name="return" type="xs:boolean"/>
  </wsdl:message>
  <wsdl:portType name="BloodPressure">
    <wsdl:operation name="configureDevice" parameterOrder="configuration">
      <wsdl:input message="impl:configureDeviceRequest" name="configureDeviceRequest"/>
      <wsdl:output message="impl:configureDeviceResponse" name="configureDeviceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="connectDevice" parameterOrder="parameters">
      <wsdl:input message="impl:connectDeviceRequest" name="connectDeviceRequest"/>
      <wsdl:output message="impl:connectDeviceResponse" name="connectDeviceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getConfiguration">
      <wsdl:input message="impl:getConfigurationRequest" name="getConfigurationRequest"/>
      <wsdl:output message="impl:getConfigurationResponse" name="getConfigurationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="disconnectDevice">
      <wsdl:input message="impl:disconnectDeviceRequest" name="disconnectDeviceRequest"/>
      <wsdl:output message="impl:disconnectDeviceResponse" name="disconnectDeviceResponse"/>
    </wsdl:operation> 
    <wsdl:operation name="searchDevices">
      <wsdl:input message="impl:searchDevicesRequest" name="searchDevicesRequest"/>
      <wsdl:output message="impl:searchDevicesResponse" name="searchDevicesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BloodPressureSOAPBinding" type="impl:BloodPressure">
    <linksmart:binding device="file:./resources/Device.owl#BloodPressure_1"/>
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="configureDevice">
      <soap:operation soapAction="configureDevice"/>
      <wsdl:input name="configureDeviceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="configureDeviceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connectDevice">
      <soap:operation soapAction="connectDevice"/>
      <wsdl:input name="connectDeviceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="connectDeviceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfiguration">
      <soap:operation soapAction="getConfiguration"/>
      <wsdl:input name="getConfigurationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getConfigurationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disconnectDevice">
      <soap:operation soapAction="disconnectDevice"/>
      <wsdl:input name="disconnectDeviceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="disconnectDeviceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchDevices">
      <soap:operation soapAction="searchDevices"/>
      <wsdl:input name="searchDevicesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchDevicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BloodPressureService">
    <wsdl:port binding="impl:BloodPressureSOAPBinding" name="BloodPressure">
      <soap:address location="http://localhost:8080/GatewayService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

