ddk/ServiceCompiler/resources/test/eu/linksmart/bpm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:y="http://linksmart.eu/bpm/" xmlns:linksmart="http://linksmart.eu/"
	targetNamespace="http://linksmart.eu/">

	<types>
		<xs:schema>
			<xs:import namespace="http://linksmart.eu/bpm/"
				schemaLocation="bpm.xsd" />
		</xs:schema>
	</types>

	<message name="searchDevicesRequest">
		<part name="parameters" type="xs:string" />
	</message>
	<message name="searchDevicesResponse">
		<part name="parameters" type="xs:boolean" />
	</message>
	<message name="disconnectDeviceRequest"></message>
	<message name="disconnectDeviceResponse">
		<part name="parameters" type="xs:boolean" />
	</message>
	<message name="configureDeviceRequest">
		<part name="parameters" type="y:configureDevice" />
	</message>
	<message name="configureDeviceResponse">
		<part name="parameters" type="xs:boolean" />
	</message>
	<message name="getConfigurationRequest"></message>
	<message name="getConfigurationResponse">
		<part name="parameters" type="y:configuration" />
	</message>
	<message name="connectDeviceRequest">
		<part name="parameters" type="y:connectDevice" />
	</message>
	<message name="connectDeviceResponse">
		<part name="parameters" type="xs:boolean" />
	</message>

	<portType name="BPMport">
		<operation name="searchDevices">
			<input message="linksmart:searchDevicesRequest" />
			<output message="linksmart:searchDevicesResponse" />
		</operation>
		<operation name="disconnectDevice">
			<input message="linksmart:disconnectDeviceRequest" />
			<output message="linksmart:disconnectDeviceResponse" />
		</operation>
		<operation name="configureDevice">
			<input message="linksmart:configureDeviceRequest"></input>
			<output message="linksmart:configureDeviceResponse"></output>
		</operation>
		<operation name="getConfiguration">
			<input message="linksmart:getConfigurationRequest"></input>
			<output message="linksmart:getConfigurationResponse"></output>
		</operation>
		<operation name="connectDevice">
			<input message="linksmart:connectDeviceRequest"></input>
			<output message="linksmart:connectDeviceResponse"></output>
		</operation>
	</portType>

	<binding name="BPMSOAP" type="linksmart:BPMport">
		<linksmart:binding
			device="file:./resources/Device.owl#BloodPressure_1" />
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="searchDevices">
			<soap:operation
				soapAction="http://131.234.81.119/searchDevices" style="rpc" />
			<input name="searchDevicesRequest">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</input>
			<output name="searchDevicesResponse">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</output>
		</operation>
		<operation name="disconnectDevice">
			<soap:operation
				soapAction="http://131.234.81.119/disconnectDevice" style="rpc" />
			<input name="disconnectDeviceRequest">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</input>
			<output name="disconnectDeviceResponse">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</output>
		</operation>
		<operation name="configureDevice">
			<soap:operation
				soapAction="http://131.234.81.119/configureDevice" style="rpc" />
			<input name="configureDeviceRequest">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</input>
			<output name="configureDevicResponse">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</output>
		</operation>
		<operation name="getConfiguration">
			<soap:operation
				soapAction="http://131.234.81.119/getConfiguration" style="rpc" />
			<input name="getConfigurationRequest">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</input>
			<output name="getConfigurationResponse">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</output>
		</operation>
		<operation name="connectDevice">
			<soap:operation
				soapAction="http://131.234.81.119/connectDevice" style="rpc" />
			<input name="connectDeviceRequest">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</input>
			<output name="connectDeviceResponse">
				<soap:body use="literal"
					namespace="http://linksmart.eu" />
			</output>
		</operation>
	</binding>

	<service name="BPMService">
		<port name="BPMService" binding="linksmart:BPMSOAP">
			<soap:address
				location="http://131.234.81.119:8080/axis/services/bpm" />
		</port>
	</service>
</definitions>
