ddk/ServiceCompiler/resources/test/eu/linksmart/magna_32.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://hydra.eu.com/magna_32/" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:y="http://hydra.eu.com/magna_32/">
	<xs:complexType name="StringList">
		<xs:sequence>
			<xs:element name="element" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestCD">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="mode" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
