ddk/ServiceCompiler/resources/test/eu/linksmart/NetworkManagerApplication.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://ws.network.linksmart.eu" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.network.linksmart.eu" xmlns:intf="http://ws.network.linksmart.eu" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <types>
    <xsd:schema>
       <xsd:import namespace="http://ws.network.linksmart.eu" schemaLocation="NetworkManagerTypes.xsd"/>
    </xsd:schema>   
 </types>
   <message name="getHIDsAsStringResponse">
      <part name="getHIDsAsStringReturn" type="soapenc:string"/>
   </message>
   <message name="setSessionParameterResponse">
   </message>
   <message name="stopNMRequest">
   </message>
   <message name="removeAllHIDResponse">
   </message>
   <message name="getHIDsRequest">
   </message>
   <message name="createHIDResponse1">
      <part name="createHIDReturn" type="soapenc:string"/>
   </message>
   <message name="stopNMResponse">
      <part name="stopNMReturn" type="soapenc:string"/>
   </message>
   <message name="sendDataRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
      <part name="in2" type="soapenc:string"/>
      <part name="in3" type="soapenc:string"/>
   </message>
   <message name="createHIDwDescResponse1">
      <part name="createHIDwDescReturn" type="soapenc:string"/>
   </message>
   <message name="getHIDsbyDescriptionRequest">
      <part name="in0" type="soapenc:string"/>
   </message>
   <message name="getNMPositionRequest">
   </message>
   <message name="getHIDsbyDescriptionAsStringRequest">
      <part name="in0" type="soapenc:string"/>
   </message>
   <message name="getContextHIDsRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
   </message>
   <message name="getHostHIDsRequest">
   </message>
   <message name="receiveDataRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
      <part name="in2" type="soapenc:string"/>
      <part name="in3" type="soapenc:string"/>
   </message>
   <message name="synchronizeSessionsListResponse">
      <part name="synchronizeSessionsListReturn" type="apachesoap:Vector"/>
   </message>
   <message name="getContextHIDsAsStringResponse">
      <part name="getContextHIDsAsStringReturn" type="soapenc:string"/>
   </message>
   <message name="getHostHIDsResponse">
      <part name="getHostHIDsReturn" type="apachesoap:Vector"/>
   </message>
   <message name="closeSessionRequest">
      <part name="in0" type="soapenc:string"/>
   </message>
   <message name="startNMResponse">
      <part name="startNMReturn" type="soapenc:string"/>
   </message>
   <message name="createHIDResponse">
      <part name="createHIDReturn" type="soapenc:string"/>
   </message>
   <message name="startNMRequest">
   </message>
   <message name="getHostHIDsAsStringResponse">
      <part name="getHostHIDsAsStringReturn" type="soapenc:string"/>
   </message>
   <message name="createHIDwDescRequest">
      <part name="in0" type="xsd:long"/>
      <part name="in1" type="xsd:int"/>
      <part name="in2" type="soapenc:string"/>
      <part name="in3" type="soapenc:string"/>
   </message>
   <message name="addContextResponse">
      <part name="addContextReturn" type="soapenc:string"/>
   </message>
   <message name="removeHIDRequest">
      <part name="in0" type="soapenc:string"/>
   </message>
   <message name="getSessionParameterRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
   </message>
   <message name="getContextHIDsResponse">
      <part name="getContextHIDsReturn" type="apachesoap:Vector"/>
   </message>
   <message name="addContextRequest">
      <part name="in0" type="xsd:long"/>
      <part name="in1" type="soapenc:string"/>
   </message>
   <message name="setSessionParameterRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
      <part name="in2" type="soapenc:string"/>
   </message>
   <message name="openSessionRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
   </message>
   <message name="createHIDwDescResponse">
      <part name="createHIDwDescReturn" type="soapenc:string"/>
   </message>
   <message name="addSessionRemoteClientResponse">
   </message>
   <message name="getContextHIDsAsStringRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
   </message>
   <message name="receiveDataResponse">
      <part name="receiveDataReturn" type="impl:NMResponse"/>
   </message>
   <message name="closeSessionResponse">
   </message>
   <message name="getHIDsResponse">
      <part name="getHIDsReturn" type="apachesoap:Vector"/>
   </message>
   <message name="removeHIDResponse">
   </message>
   <message name="createHIDwDescRequest1">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
   </message>
   <message name="addSessionRemoteClientRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
      <part name="in2" type="soapenc:string"/>
   </message>
   <message name="createHIDRequest">
      <part name="in0" type="xsd:long"/>
      <part name="in1" type="xsd:int"/>
   </message>
   <message name="getSessionParameterResponse">
      <part name="getSessionParameterReturn" type="soapenc:string"/>
   </message>
   <message name="getNMPositionResponse">
      <part name="getNMPositionReturn" type="soapenc:string"/>
   </message>
   <message name="renewHIDRequest">
      <part name="in0" type="xsd:long"/>
      <part name="in1" type="xsd:int"/>
      <part name="in2" type="soapenc:string"/>
   </message>
   <message name="renewHIDResponse">
      <part name="renewHIDReturn" type="soapenc:string"/>
   </message>
   <message name="renewHIDInfoRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
      <part name="in2" type="soapenc:string"/>
   </message>
   <message name="openSessionResponse">
      <part name="openSessionReturn" type="soapenc:string"/>
   </message>
   <message name="renewHIDInfoResponse">
      <part name="renewHIDInfoReturn" type="soapenc:string"/>
   </message>
   <message name="getHIDsAsStringRequest">
   </message>
   <message name="getHIDsbyDescriptionResponse">
      <part name="getHIDsbyDescriptionReturn" type="apachesoap:Vector"/>
   </message>
   <message name="createHIDRequest1">
   </message>
   <message name="sendDataResponse">
      <part name="sendDataReturn" type="impl:NMResponse"/>
   </message>
   <message name="synchronizeSessionsListRequest">
      <part name="in0" type="soapenc:string"/>
      <part name="in1" type="soapenc:string"/>
   </message>
   <message name="getHIDsbyDescriptionAsStringResponse">
      <part name="getHIDsbyDescriptionAsStringReturn" type="soapenc:string"/>
   </message>
   <message name="removeAllHIDRequest">
   </message>
   <message name="getHostHIDsAsStringRequest">
   </message>
   <portType name="NetworkManagerApplication">
      <operation name="openSession" parameterOrder="in0 in1">
         <input message="impl:openSessionRequest" name="openSessionRequest"/>
         <output message="impl:openSessionResponse" name="openSessionResponse"/>
      </operation>
      <operation name="sendData" parameterOrder="in0 in1 in2 in3">
         <input message="impl:sendDataRequest" name="sendDataRequest"/>
         <output message="impl:sendDataResponse" name="sendDataResponse"/>
      </operation>
      <operation name="receiveData" parameterOrder="in0 in1 in2 in3">
         <input message="impl:receiveDataRequest" name="receiveDataRequest"/>
         <output message="impl:receiveDataResponse" name="receiveDataResponse"/>
      </operation>
      <operation name="closeSession" parameterOrder="in0">
         <input message="impl:closeSessionRequest" name="closeSessionRequest"/>
         <output message="impl:closeSessionResponse" name="closeSessionResponse"/>
      </operation>
      <operation name="getSessionParameter" parameterOrder="in0 in1">
         <input message="impl:getSessionParameterRequest" name="getSessionParameterRequest"/>
         <output message="impl:getSessionParameterResponse" name="getSessionParameterResponse"/>
      </operation>
      <operation name="setSessionParameter" parameterOrder="in0 in1 in2">
         <input message="impl:setSessionParameterRequest" name="setSessionParameterRequest"/>
         <output message="impl:setSessionParameterResponse" name="setSessionParameterResponse"/>
      </operation>
      <operation name="synchronizeSessionsList" parameterOrder="in0 in1">
         <input message="impl:synchronizeSessionsListRequest" name="synchronizeSessionsListRequest"/>
         <output message="impl:synchronizeSessionsListResponse" name="synchronizeSessionsListResponse"/>
      </operation>
      <operation name="addSessionRemoteClient" parameterOrder="in0 in1 in2">
         <input message="impl:addSessionRemoteClientRequest" name="addSessionRemoteClientRequest"/>
         <output message="impl:addSessionRemoteClientResponse" name="addSessionRemoteClientResponse"/>
      </operation>
      <operation name="createHID" parameterOrder="in0 in1">
         <input message="impl:createHIDRequest" name="createHIDRequest"/>
         <output message="impl:createHIDResponse" name="createHIDResponse"/>
      </operation>
      <operation name="createHID">
         <input message="impl:createHIDRequest1" name="createHIDRequest1"/>
         <output message="impl:createHIDResponse1" name="createHIDResponse1"/>
      </operation>
      <operation name="createHIDwDesc" parameterOrder="in0 in1 in2 in3">
         <input message="impl:createHIDwDescRequest" name="createHIDwDescRequest"/>
         <output message="impl:createHIDwDescResponse" name="createHIDwDescResponse"/>
      </operation>
      <operation name="createHIDwDesc" parameterOrder="in0 in1">
         <input message="impl:createHIDwDescRequest1" name="createHIDwDescRequest1"/>
         <output message="impl:createHIDwDescResponse1" name="createHIDwDescResponse1"/>
      </operation>
      <operation name="renewHID" parameterOrder="in0 in1 in2">
         <input message="impl:renewHIDRequest" name="renewHIDRequest"/>
         <output message="impl:renewHIDResponse" name="renewHIDResponse"/>
      </operation>
      <operation name="renewHIDInfo" parameterOrder="in0 in1 in2">
         <input message="impl:renewHIDInfoRequest" name="renewHIDInfoRequest"/>
         <output message="impl:renewHIDInfoResponse" name="renewHIDInfoResponse"/>
      </operation>
      <operation name="addContext" parameterOrder="in0 in1">
         <input message="impl:addContextRequest" name="addContextRequest"/>
         <output message="impl:addContextResponse" name="addContextResponse"/>
      </operation>
      <operation name="getHostHIDs">
         <input message="impl:getHostHIDsRequest" name="getHostHIDsRequest"/>
         <output message="impl:getHostHIDsResponse" name="getHostHIDsResponse"/>
      </operation>
      <operation name="getHIDs">
         <input message="impl:getHIDsRequest" name="getHIDsRequest"/>
         <output message="impl:getHIDsResponse" name="getHIDsResponse"/>
      </operation>
      <operation name="getContextHIDs" parameterOrder="in0 in1">
         <input message="impl:getContextHIDsRequest" name="getContextHIDsRequest"/>
         <output message="impl:getContextHIDsResponse" name="getContextHIDsResponse"/>
      </operation>
      <operation name="getHIDsbyDescription" parameterOrder="in0">
         <input message="impl:getHIDsbyDescriptionRequest" name="getHIDsbyDescriptionRequest"/>
         <output message="impl:getHIDsbyDescriptionResponse" name="getHIDsbyDescriptionResponse"/>
      </operation>
      <operation name="removeHID" parameterOrder="in0">
         <input message="impl:removeHIDRequest" name="removeHIDRequest"/>
         <output message="impl:removeHIDResponse" name="removeHIDResponse"/>
      </operation>
      <operation name="removeAllHID">
         <input message="impl:removeAllHIDRequest" name="removeAllHIDRequest"/>
         <output message="impl:removeAllHIDResponse" name="removeAllHIDResponse"/>
      </operation>
      <operation name="startNM">
         <input message="impl:startNMRequest" name="startNMRequest"/>
         <output message="impl:startNMResponse" name="startNMResponse"/>
      </operation>
      <operation name="stopNM">
         <input message="impl:stopNMRequest" name="stopNMRequest"/>
         <output message="impl:stopNMResponse" name="stopNMResponse"/>
      </operation>
      <operation name="getHostHIDsAsString">
         <input message="impl:getHostHIDsAsStringRequest" name="getHostHIDsAsStringRequest"/>
         <output message="impl:getHostHIDsAsStringResponse" name="getHostHIDsAsStringResponse"/>
      </operation>
      <operation name="getHIDsAsString">
         <input message="impl:getHIDsAsStringRequest" name="getHIDsAsStringRequest"/>
         <output message="impl:getHIDsAsStringResponse" name="getHIDsAsStringResponse"/>
      </operation>
      <operation name="getContextHIDsAsString" parameterOrder="in0 in1">
         <input message="impl:getContextHIDsAsStringRequest" name="getContextHIDsAsStringRequest"/>
         <output message="impl:getContextHIDsAsStringResponse" name="getContextHIDsAsStringResponse"/>
      </operation>
      <operation name="getHIDsbyDescriptionAsString" parameterOrder="in0">
         <input message="impl:getHIDsbyDescriptionAsStringRequest" name="getHIDsbyDescriptionAsStringRequest"/>
         <output message="impl:getHIDsbyDescriptionAsStringResponse" name="getHIDsbyDescriptionAsStringResponse"/>
      </operation>
      <operation name="getNMPosition">
         <input message="impl:getNMPositionRequest" name="getNMPositionRequest"/>
         <output message="impl:getNMPositionResponse" name="getNMPositionResponse"/>
      </operation>
   </portType>
   <binding name="NetworkManagerApplicationSoapBinding" type="impl:NetworkManagerApplication">
      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="openSession">
         <wsdlsoap:operation soapAction="openSession"/>
         <input name="openSessionRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="openSessionResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="sendData">
         <wsdlsoap:operation soapAction="sendData"/>
         <input name="sendDataRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="sendDataResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="receiveData">
         <wsdlsoap:operation soapAction="receiveData"/>
         <input name="receiveDataRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="receiveDataResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="closeSession">
         <wsdlsoap:operation soapAction="closeSession"/>
         <input name="closeSessionRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="closeSessionResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getSessionParameter">
         <wsdlsoap:operation soapAction="getSessionParameter"/>
         <input name="getSessionParameterRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getSessionParameterResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="setSessionParameter">
         <wsdlsoap:operation soapAction="setSessionParameter"/>
         <input name="setSessionParameterRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="setSessionParameterResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="synchronizeSessionsList">
         <wsdlsoap:operation soapAction="synchronizeSessionsList"/>
         <input name="synchronizeSessionsListRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="synchronizeSessionsListResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="addSessionRemoteClient">
         <wsdlsoap:operation soapAction="addSessionRemoteClient"/>
         <input name="addSessionRemoteClientRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="addSessionRemoteClientResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="createHID">
         <wsdlsoap:operation soapAction="createHID"/>
         <input name="createHIDRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="createHIDResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="createHID">
         <wsdlsoap:operation soapAction="createHID1"/>
         <input name="createHIDRequest1">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="createHIDResponse1">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="createHIDwDesc">
         <wsdlsoap:operation soapAction="createHIDwDesc"/>
         <input name="createHIDwDescRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="createHIDwDescResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="createHIDwDesc">
         <wsdlsoap:operation soapAction="createHIDwDesc1"/>
         <input name="createHIDwDescRequest1">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="createHIDwDescResponse1">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="renewHID">
         <wsdlsoap:operation soapAction="renewHID"/>
         <input name="renewHIDRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="renewHIDResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="renewHIDInfo">
         <wsdlsoap:operation soapAction="renewHIDInfo"/>
         <input name="renewHIDInfoRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="renewHIDInfoResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="addContext">
         <wsdlsoap:operation soapAction="addContext"/>
         <input name="addContextRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="addContextResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getHostHIDs">
         <wsdlsoap:operation soapAction="getHostHIDs"/>
         <input name="getHostHIDsRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getHostHIDsResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getHIDs">
         <wsdlsoap:operation soapAction="getHIDs"/>
         <input name="getHIDsRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getHIDsResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getContextHIDs">
         <wsdlsoap:operation soapAction="getContextHIDs"/>
         <input name="getContextHIDsRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getContextHIDsResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getHIDsbyDescription">
         <wsdlsoap:operation soapAction="getHIDsbyDescription"/>
         <input name="getHIDsbyDescriptionRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getHIDsbyDescriptionResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="removeHID">
         <wsdlsoap:operation soapAction="removeHID"/>
         <input name="removeHIDRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="removeHIDResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="removeAllHID">
         <wsdlsoap:operation soapAction="removeAllHID"/>
         <input name="removeAllHIDRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="removeAllHIDResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="startNM">
         <wsdlsoap:operation soapAction="startNM"/>
         <input name="startNMRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="startNMResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="stopNM">
         <wsdlsoap:operation soapAction="stopNM"/>
         <input name="stopNMRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="stopNMResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getHostHIDsAsString">
         <wsdlsoap:operation soapAction="getHostHIDAsString"/>
         <input name="getHostHIDsAsStringRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getHostHIDsAsStringResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getHIDsAsString">
         <wsdlsoap:operation soapAction="getHIDsAsString"/>
         <input name="getHIDsAsStringRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getHIDsAsStringResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getContextHIDsAsString">
         <wsdlsoap:operation soapAction="getContextHIDsAsString"/>
         <input name="getContextHIDsAsStringRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getContextHIDsAsStringResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getHIDsbyDescriptionAsString">
         <wsdlsoap:operation soapAction="getHIDsbyDescriptionAsString"/>
         <input name="getHIDsbyDescriptionAsStringRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getHIDsbyDescriptionAsStringResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
      <operation name="getNMPosition">
         <wsdlsoap:operation soapAction="getNMPosition"/>
         <input name="getNMPositionRequest">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </input>
         <output name="getNMPositionResponse">
            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.network.linksmart.eu" use="encoded"/>
         </output>
      </operation>
   </binding>
   <service name="NetworkManagerApplicationService">
      <port binding="impl:NetworkManagerApplicationSoapBinding" name="NetworkManagerApplication">
         <wsdlsoap:address location="http://localhost:8082/axis/services/NetworkManagerApplication"/>
      </port>
   </service>
</definitions>
