ddk/ServiceCompiler/resources/test/eu/linksmart/SecurityManagerApplication.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://security.linksmart.eu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://security.linksmart.eu" xmlns:intf="http://security.linksmart.eu" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://types.linksmart.eu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://types.linksmart.eu" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Context">
    <sequence>
     <element name="part" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="CredentialType">
    <sequence>
     <element name="part" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateResponse">

      <wsdl:part name="validateReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="deleteKeyResponse">

      <wsdl:part name="deleteKeyReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="sendRequest">

      <wsdl:part name="data" type="xsd:string"/>

      <wsdl:part name="currentContext" type="tns1:Context"/>

      <wsdl:part name="destinationHID" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="retrieveCredentialsResponse">

      <wsdl:part name="retrieveCredentialsReturn" type="tns1:CredentialType"/>

   </wsdl:message>

   <wsdl:message name="receiveResponse">

      <wsdl:part name="receiveReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="validateRequest">

      <wsdl:part name="something" type="xsd:string"/>

      <wsdl:part name="context" type="tns1:Context"/>

   </wsdl:message>

   <wsdl:message name="initiateResponse">

      <wsdl:part name="initiateReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="receiveRequest">

      <wsdl:part name="ciphertext" type="xsd:string"/>

      <wsdl:part name="linksmartID" type="xsd:string"/>

      <wsdl:part name="parameters" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createKeyResponse">

      <wsdl:part name="createKeyReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="revokeKeyResponse">

      <wsdl:part name="revokeKeyReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteIdentityRequest">

      <wsdl:part name="identityID" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="revokeKeyRequest">

      <wsdl:part name="keyID" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteKeyRequest">

      <wsdl:part name="keyID" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteIdentityResponse">

      <wsdl:part name="deleteIdentityReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="initiateRequest">

      <wsdl:part name="something" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createKeyRequest">

      <wsdl:part name="identityID" type="xsd:string"/>

      <wsdl:part name="keyParameters" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="storeCredentialsResponse">

      <wsdl:part name="storeCredentialsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createIdentityRequest">

      <wsdl:part name="identity" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="sendResponse">

      <wsdl:part name="sendReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="storeCredentialsRequest">

      <wsdl:part name="credentials" type="tns1:CredentialType"/>

   </wsdl:message>

   <wsdl:message name="retrieveCredentialsRequest">

      <wsdl:part name="storageID" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createIdentityResponse">

      <wsdl:part name="createIdentityReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="SecurityManagerApplication">

      <wsdl:operation name="validate" parameterOrder="something context">

         <wsdl:input message="impl:validateRequest" name="validateRequest"/>

         <wsdl:output message="impl:validateResponse" name="validateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="send" parameterOrder="data currentContext destinationHID">

         <wsdl:input message="impl:sendRequest" name="sendRequest"/>

         <wsdl:output message="impl:sendResponse" name="sendResponse"/>

      </wsdl:operation>

      <wsdl:operation name="initiate" parameterOrder="something">

         <wsdl:input message="impl:initiateRequest" name="initiateRequest"/>

         <wsdl:output message="impl:initiateResponse" name="initiateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="storeCredentials" parameterOrder="credentials">

         <wsdl:input message="impl:storeCredentialsRequest" name="storeCredentialsRequest"/>

         <wsdl:output message="impl:storeCredentialsResponse" name="storeCredentialsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createKey" parameterOrder="identityID keyParameters">

         <wsdl:input message="impl:createKeyRequest" name="createKeyRequest"/>

         <wsdl:output message="impl:createKeyResponse" name="createKeyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="revokeKey" parameterOrder="keyID">

         <wsdl:input message="impl:revokeKeyRequest" name="revokeKeyRequest"/>

         <wsdl:output message="impl:revokeKeyResponse" name="revokeKeyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteKey" parameterOrder="keyID">

         <wsdl:input message="impl:deleteKeyRequest" name="deleteKeyRequest"/>

         <wsdl:output message="impl:deleteKeyResponse" name="deleteKeyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="createIdentity" parameterOrder="identity">

         <wsdl:input message="impl:createIdentityRequest" name="createIdentityRequest"/>

         <wsdl:output message="impl:createIdentityResponse" name="createIdentityResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteIdentity" parameterOrder="identityID">

         <wsdl:input message="impl:deleteIdentityRequest" name="deleteIdentityRequest"/>

         <wsdl:output message="impl:deleteIdentityResponse" name="deleteIdentityResponse"/>

      </wsdl:operation>

      <wsdl:operation name="retrieveCredentials" parameterOrder="storageID">

         <wsdl:input message="impl:retrieveCredentialsRequest" name="retrieveCredentialsRequest"/>

         <wsdl:output message="impl:retrieveCredentialsResponse" name="retrieveCredentialsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="receive" parameterOrder="ciphertext linksmartID parameters">

         <wsdl:input message="impl:receiveRequest" name="receiveRequest"/>

         <wsdl:output message="impl:receiveResponse" name="receiveResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SecurityManagerApplicationSoapBinding" type="impl:SecurityManagerApplication">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="validateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="send">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="sendResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="initiate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initiateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="initiateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="storeCredentials">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="storeCredentialsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="storeCredentialsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createKeyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createKeyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="revokeKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="revokeKeyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="revokeKeyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteKeyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteKeyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createIdentity">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createIdentityRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createIdentityResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteIdentity">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteIdentityRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteIdentityResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retrieveCredentials">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveCredentialsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="retrieveCredentialsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="receive">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="receiveRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="receiveResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://security.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SecurityManagerApplicationService">

      <wsdl:port binding="impl:SecurityManagerApplicationSoapBinding" name="SecurityManagerApplication">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/SecurityManagerApplication"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
