ddk/ServiceCompiler/resources/test/eu/linksmart/StorageManagerTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://storagemanager.storage.hydra.eu.com"
	xmlns:smt="http://storagemanager.storage.hydra.eu.com"
	elementFormDefault="qualified">
	<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
	<complexType name="StringResponse">
		<sequence>
			<element name="errorCode" type="xsd:int" />
			<element name="errorMessage" nillable="true" type="soapenc:string" />
			<element name="response" nillable="true" type="soapenc:string" />
		</sequence>
	</complexType>
</schema>