ddk/ServiceCompiler/resources/test/eu/linksmart/TestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.sun.com/wstest/wsdl/"
    targetNamespace="http://www.sun.com/wstest/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
   <types>
    <xsd:schema>
       <xsd:import namespace="http://www.sun.com/wstest/wsdl/" schemaLocation="testservicetypes.xsd"/>
    </xsd:schema>   
    </types>
    <message name="echoVoidSoapIn">
        <part name="parameters" element="tns:echoVoid" />
    </message>
    <message name="echoVoidSoapOut">
        <part name="parameters" element="tns:echoVoidResponse" />
    </message>
    <message name="echoStructSoapIn">
        <part name="parameters" element="tns:echoStruct" />
    </message>
    <message name="echoStructSoapOut">
        <part name="parameters" element="tns:echoStructResponse" />
    </message>
    <message name="echoListSoapIn">
        <part name="parameters" element="tns:echoList" />
    </message>
    <message name="echoListSoapOut">
        <part name="parameters" element="tns:echoListResponse" />
    </message>
    <message name="echoSyntheticSoapIn">
        <part name="parameters" element="tns:echoSynthetic" />
    </message>
    <message name="echoSyntheticSoapOut">
        <part name="parameters" element="tns:echoSyntheticResponse" />
    </message>
    <portType name="TestServicePortType">
        <operation name="echoVoid">
            <input message="tns:echoVoidSoapIn" />
            <output message="tns:echoVoidSoapOut" />
        </operation>
        <operation name="echoStruct">
            <input message="tns:echoStructSoapIn" />
            <output message="tns:echoStructSoapOut" />
        </operation>
        <operation name="echoList">
            <input message="tns:echoListSoapIn" />
            <output message="tns:echoListSoapOut" />
        </operation>
        <operation name="echoSynthetic">
            <input message="tns:echoSyntheticSoapIn" />
            <output message="tns:echoSyntheticSoapOut" />
        </operation>
    </portType>
    <binding name="TestServiceBinding" type="tns:TestServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="echoVoid">
            <soap:operation soapAction="http://www.sun.com/wstest/wsdl/echoVoid" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="echoStruct">
            <soap:operation soapAction="http://www.sun.com/wstest/wsdl/echoStruct" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="echoList">
            <soap:operation soapAction="http://www.sun.com/wstest/wsdl/echoList" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="echoSynthetic">
            <soap:operation soapAction="http://www.sun.com/echoSynthetic" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="TestService">
        <port name="TestServicePort" binding="tns:TestServiceBinding">
            <soap:address location="http://localhost:8080" />
        </port>
    </service>
</definitions>
