ddk/ServiceCompiler/resources/test/eu/linksmart/th03.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:y="http://linksmart.eu/"  xmlns:linksmart="http://linksmart.eu/"  targetNamespace="http://linksmart.eu/">
	<message name="thermResponseDouble">
		<part name="result" type="xs:double"/>
	</message>
	<message name="thermRequest">
		<part name="thermometerId" type="xs:string"/>
	</message>
	<message name="thermResponseBoolean">
		<part name="status" type="xs:boolean"/>
	</message>
	<message name="thermRequest1">
		<part name="thermometerId1" type="xs:string"/>
	</message>
	<portType name="TH03Port">
		<operation name="getTemperature">
			<input message="y:thermRequest" name="thermRequest"/>
			<output message="y:thermResponseDouble" name="thermResponseDouble"/>
		</operation>
		<operation name="getStatus">
			<input message="y:thermRequest1" name="thermRequest1"/>
			<output message="y:thermResponseBoolean" name="thermResponseBoolean"/>
		</operation>
	</portType>
	<binding name="TH03SOAP" type="y:TH03Port">
		<linksmart:binding device="file:./resources/Device.owl#PicoTh03_Indoor"/>
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getTemperature">
			<soap:operation soapAction="http://linksmart.eu/th03/getTemperature" style="rpc"/>
			<input name="thermRequest">
				<soap:body use="literal" namespace="http://linksmart.eu"/>
			</input>
			<output name="thermResponseDouble">
				<soap:body use="literal" namespace="http://linksmart.eu"/>
			</output>
		</operation>
		<operation name="getStatus">
			<soap:operation soapAction="http://linksmart.eu/th03/getStatus" style="rpc"/>
			<input name="thermRequest1">
				<soap:body use="literal" namespace="http://linksmart.eu"/>
			</input>
			<output name="thermResponseBoolean">
				<soap:body use="literal" namespace="http://linksmart.eu"/>
			</output>
		</operation>
	</binding>
	<service name="TH03Service">
		<port name="TH03Port" binding="y:TH03SOAP">
			<soap:address location="http://dmz-168.daimi.au.dk:8080/axis/services/th03"/>
		</port>
	</service>
</definitions>
