ddk/ServiceCompiler/resources/test/eu/linksmart/th03-normal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://linksmart.eu/th03/"  targetNamespace="http://linksmart.eu/th03/" xmlns:linksmart="http://linksmart.eu/" >
	<message name="thermResponseDouble">
		<part name="result" type="xs:double"/>
	</message>
	<message name="thermRequest">
		<part name="thermometerId" type="xs:string"/>
	</message>
	<message name="thermResponseBoolean">
		<part name="status" type="xs:boolean"/>
	</message>
	<message name="thermRequest1">
		<part name="thermometerId1" type="xs:string"/>
	</message>
	<portType name="TH03Port">
		<operation name="getTemperature">
			<input message="ns:thermRequest"/>
			<output message="ns:thermResponseDouble"/>
		</operation>
		<operation name="getStatus">
			<input message="ns:thermRequest1"/>
			<output message="ns:thermResponseBoolean"/>
		</operation>
	</portType>
	<binding name="TH03SOAP" type="ns:TH03Port">
		<linksmart:binding device="http://eu.linksmart/ontology/Device.owl#PicoTh03_Indoor"/>
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getTemperature">
			<soap:operation soapAction="http://linksmart.eu/th03/getTemperature" style="rpc"/>
			<input>
				<soap:body use="literal" namespace="http://linksmart.eu/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://linksmart.eu/"/>
			</output>
		</operation>
		<operation name="getStatus">
			<soap:operation soapAction="http://linksmart.eu/th03/getStatus" style="rpc"/>
			<input>
				<soap:body use="literal" namespace="http://linksmart.eu/"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://linksmart.eu/"/>
			</output>
		</operation>
	</binding>
	<service name="TH03Service">
		<port name="TH03Service" binding="ns:TH03SOAP">
			<soap:address location="http://dmz-168.daimi.au.dk:8084/th03"/>
		</port>
	</service>
</definitions>
