ddk/ServiceCompiler/resources/test/eu/linksmart/ThermometerWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ThermometerWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
		<wsdl:types>
			<xsd:schema targetNamespace="http://tempuri.org/Imports">
				<xsd:import schemaLocation="ThermometerTypes1.xsd" namespace="http://tempuri.org/"/>
				<xsd:import schemaLocation="ThermometerTypes2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			</xsd:schema>
		</wsdl:types>
		<wsdl:message name="ILinkSmartThermometerWSService_GetIndoorTemperature_InputMessage">
			<wsdl:part name="parameters" element="tns:GetIndoorTemperature"/>
		</wsdl:message>
		<wsdl:message name="ILinkSmartThermometerWSService_GetIndoorTemperature_OutputMessage">
			<wsdl:part name="parameters" element="tns:GetIndoorTemperatureResponse"/>
		</wsdl:message>
		<wsdl:message name="ILinkSmartThermometerWSService_GetOutdoorTemperature_InputMessage">
			<wsdl:part name="parameters" element="tns:GetOutdoorTemperature"/>
		</wsdl:message>
		<wsdl:message name="ILinkSmartThermometerWSService_GetOutdoorTemperature_OutputMessage">
			<wsdl:part name="parameters" element="tns:GetOutdoorTemperatureResponse"/>
		</wsdl:message>
		<wsdl:message name="ILinkSmartThermometerWSService_LastUpdated_InputMessage">
			<wsdl:part name="parameters" element="tns:LastUpdated"/>
		</wsdl:message>
		<wsdl:message name="ILinkSmartThermometerWSService_LastUpdated_OutputMessage">
			<wsdl:part name="parameters" element="tns:LastUpdatedResponse"/>
		</wsdl:message>
		<wsdl:portType name="ILinkSmartThermometerWSService">
			<wsdl:operation name="GetIndoorTemperature">
				<wsdl:input wsaw:Action="http://tempuri.org/ILinkSmartThermometerWSService/GetIndoorTemperature" message="tns:ILinkSmartThermometerWSService_GetIndoorTemperature_InputMessage"/>
				<wsdl:output wsaw:Action="http://tempuri.org/ILinkSmartThermometerWSService/GetIndoorTemperatureResponse" message="tns:ILinkSmartThermometerWSService_GetIndoorTemperature_OutputMessage"/>
			</wsdl:operation>
			<wsdl:operation name="GetOutdoorTemperature">
				<wsdl:input wsaw:Action="http://tempuri.org/ILinkSmartThermometerWSService/GetOutdoorTemperature" message="tns:ILinkSmartThermometerWSService_GetOutdoorTemperature_InputMessage"/>
				<wsdl:output wsaw:Action="http://tempuri.org/ILinkSmartThermometerWSService/GetOutdoorTemperatureResponse" message="tns:ILinkSmartThermometerWSService_GetOutdoorTemperature_OutputMessage"/>
			</wsdl:operation>
			<wsdl:operation name="LastUpdated">
				<wsdl:input wsaw:Action="http://tempuri.org/ILinkSmartThermometerWSService/LastUpdated" message="tns:ILinkSmartThermometerWSService_LastUpdated_InputMessage"/>
				<wsdl:output wsaw:Action="http://tempuri.org/ILinkSmartThermometerWSService/LastUpdatedResponse" message="tns:ILinkSmartThermometerWSService_LastUpdated_OutputMessage"/>
			</wsdl:operation>
		</wsdl:portType>
		<wsdl:binding name="BasicHttpBinding_ILinkSmartThermometerWSService" type="tns:ILinkSmartThermometerWSService">
			<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
				<wsdl:operation name="GetIndoorTemperature">
					<soap:operation soapAction="http://tempuri.org/ILinkSmartThermometerWSService/GetIndoorTemperature" style="document"/>
					<wsdl:input>
						<soap:body use="literal"/>
					</wsdl:input>
					<wsdl:output>
						<soap:body use="literal"/>
					</wsdl:output>
				</wsdl:operation>
				<wsdl:operation name="GetOutdoorTemperature">
					<soap:operation soapAction="http://tempuri.org/ILinkSmartThermometerWSService/GetOutdoorTemperature" style="document"/>
					<wsdl:input>
						<soap:body use="literal"/>
					</wsdl:input>
					<wsdl:output>
						<soap:body use="literal"/>
					</wsdl:output>
				</wsdl:operation>
				<wsdl:operation name="LastUpdated">
					<soap:operation soapAction="http://tempuri.org/ILinkSmartThermometerWSService/LastUpdated" style="document"/>
					<wsdl:input>
						<soap:body use="literal"/>
					</wsdl:input>
					<wsdl:output>
						<soap:body use="literal"/>
					</wsdl:output>
				</wsdl:operation>
		</wsdl:binding>
		<wsdl:service name="ThermometerWS">
			<wsdl:port name="BasicHttpBinding_ILinkSmartThermometerWSService" binding="tns:BasicHttpBinding_ILinkSmartThermometerWSService">
				<soap:address location="http://192.168.1.46:8080/ThermometerWS"/>
			</wsdl:port>
		</wsdl:service>
	</wsdl:definitions>