ddk/ServiceCompiler/resources/test/eu/linksmart/weightscaletypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema version="1.0" targetNamespace="http://ws.upnp.hydra.tid.es" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="GetDataResponse">
    <xsd:sequence>
      
      <xsd:element name="weight" type="xsd:int" minOccurs="0"/>

      <xsd:element name="weightMode" type="xsd:string" minOccurs="0"/>

      <xsd:element name="dateMeas" type="xsd:string" minOccurs="0"/>
      
      <xsd:element name="dateTrx" type="xsd:string" minOccurs="0"/>

      <xsd:element name="bat" type="xsd:int" minOccurs="0"/>
      
    </xsd:sequence>
   </xsd:complexType>
</xsd:schema>