ddk/ServiceCompiler/resources/test/eu/linksmart/WeightScale.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.upnp.linksmart.tid.es" xmlns:linksmart="http://linksmart.eu/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.upnp.linksmart.tid.es" xmlns:intf="http://ws.upnp.linksmart.tid.es" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

 <wsdl:types>
    <xsd:schema>
       <xsd:import namespace="http://ws.upnp.linksmart.tid.es" schemaLocation="weightscaletypes.xsd"/>
    </xsd:schema>   
 </wsdl:types>

   <wsdl:message name="GetDataRequest">

   </wsdl:message>

   <wsdl:message name="GetDataResponse">
   
       <wsdl:part name="getDataReturn" type="impl:GetDataResponse"/>

   </wsdl:message>

   <wsdl:message name="SetDataRequest">
   
   	<wsdl:part name="weight" type="xsd:int"/>

      <wsdl:part name="weightMode" type="soapenc:string"/>

      <wsdl:part name="dateMeas" type="soapenc:string"/>
      
      <wsdl:part name="dateTrx" type="soapenc:string"/>
      
      <wsdl:part name="bat" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="SetDataResponse">
   
   </wsdl:message>

   <wsdl:portType name="WeightScale">

      <wsdl:operation name="GetData">

         <wsdl:input message="impl:GetDataRequest" name="GetDataRequest"/>

         <wsdl:output message="impl:GetDataResponse" name="GetDataResponse"/>

      </wsdl:operation>

      <wsdl:operation name="SetData" parameterOrder="weight weightMode dateMeas dateTrx bat">

         <wsdl:input message="impl:SetDataRequest" name="SetDataRequest"/>

         <wsdl:output message="impl:SetDataResponse" name="SetDataResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WeightScaleSoapBinding" type="impl:WeightScale">
	
	<linksmart:binding device="file:./resources/Device.owl#InfoDescription_weightscale1"/>

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="GetData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.upnp.linksmart.tid.es" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="GetDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.upnp.linksmart.tid.es" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SetData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="SetDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.upnp.linksmart.tid.es" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="SetDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.upnp.linksmart.tid.es" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WeightScaleService">

      <wsdl:port binding="impl:WeightScaleSoapBinding" name="WeightScale">

         <wsdlsoap:address location="http://localhost:8082/axis/services/WeightScale"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
