ddk/ServiceCompiler/resources/test/eu/linksmart/WiiBalanceBoardService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:ws.balanceboard.wii.linksmart.eu" xmlns:linksmart="http://linksmart.eu/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:ws.balanceboard.wii.linksmart.eu" xmlns:intf="urn:ws.balanceboard.wii.linksmart.eu" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="isDeviceConnectedResponse">

      <wsdl:part name="isDeviceConnectedReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="connectDeviceResponse">

   </wsdl:message>

   <wsdl:message name="isLEDOnRequest">

   </wsdl:message>

   <wsdl:message name="isLEDOnResponse">

      <wsdl:part name="isLEDOnReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="requestStatusRequest">

   </wsdl:message>

   <wsdl:message name="disconnectDeviceRequest">

   </wsdl:message>

   <wsdl:message name="getTotalWeightRequest">

   </wsdl:message>

   <wsdl:message name="getBlueToothAddressRequest">

   </wsdl:message>

   <wsdl:message name="setLightRequest">

      <wsdl:part name="in0" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="setLightResponse">

   </wsdl:message>

   <wsdl:message name="getBlueToothAddressResponse">

      <wsdl:part name="getBlueToothAddressReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isDeviceConnectedRequest">

   </wsdl:message>

   <wsdl:message name="requestStatusResponse">

   </wsdl:message>

   <wsdl:message name="getTotalWeightResponse">

      <wsdl:part name="getTotalWeightReturn" type="xsd:double"/>

   </wsdl:message>

   <wsdl:message name="disconnectDeviceResponse">

   </wsdl:message>

   <wsdl:message name="connectDeviceRequest">

   </wsdl:message>

   <wsdl:portType name="WiiBalanceBoardService">

      <wsdl:operation name="getTotalWeight">

         <wsdl:input message="impl:getTotalWeightRequest" name="getTotalWeightRequest"/>

         <wsdl:output message="impl:getTotalWeightResponse" name="getTotalWeightResponse"/>

      </wsdl:operation>

      <wsdl:operation name="isDeviceConnected">

         <wsdl:input message="impl:isDeviceConnectedRequest" name="isDeviceConnectedRequest"/>

         <wsdl:output message="impl:isDeviceConnectedResponse" name="isDeviceConnectedResponse"/>

      </wsdl:operation>

      <wsdl:operation name="disconnectDevice">

         <wsdl:input message="impl:disconnectDeviceRequest" name="disconnectDeviceRequest"/>

         <wsdl:output message="impl:disconnectDeviceResponse" name="disconnectDeviceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="connectDevice">

         <wsdl:input message="impl:connectDeviceRequest" name="connectDeviceRequest"/>

         <wsdl:output message="impl:connectDeviceResponse" name="connectDeviceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getBlueToothAddress">

         <wsdl:input message="impl:getBlueToothAddressRequest" name="getBlueToothAddressRequest"/>

         <wsdl:output message="impl:getBlueToothAddressResponse" name="getBlueToothAddressResponse"/>

      </wsdl:operation>

      <wsdl:operation name="isLEDOn">

         <wsdl:input message="impl:isLEDOnRequest" name="isLEDOnRequest"/>

         <wsdl:output message="impl:isLEDOnResponse" name="isLEDOnResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setLight" parameterOrder="in0">

         <wsdl:input message="impl:setLightRequest" name="setLightRequest"/>

         <wsdl:output message="impl:setLightResponse" name="setLightResponse"/>

      </wsdl:operation>

      <wsdl:operation name="requestStatus">

         <wsdl:input message="impl:requestStatusRequest" name="requestStatusRequest"/>

         <wsdl:output message="impl:requestStatusResponse" name="requestStatusResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WiiBalanceBoardServiceSoapBinding" type="impl:WiiBalanceBoardService">

     <linksmart:binding device="file:./resources/Device.owl#FitnessDevice_3"/>

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTotalWeight">

         <wsdlsoap:operation soapAction="getTotalWeight"/>

         <wsdl:input name="getTotalWeightRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTotalWeightResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isDeviceConnected">

         <wsdlsoap:operation soapAction="isDeviceConnected"/>

         <wsdl:input name="isDeviceConnectedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isDeviceConnectedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="disconnectDevice">

         <wsdlsoap:operation soapAction="disconnectDevice"/>

         <wsdl:input name="disconnectDeviceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="disconnectDeviceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="connectDevice">

         <wsdlsoap:operation soapAction="connectDevice"/>

         <wsdl:input name="connectDeviceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="connectDeviceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBlueToothAddress">

         <wsdlsoap:operation soapAction="getBlueToothAddress"/>

         <wsdl:input name="getBlueToothAddressRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBlueToothAddressResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isLEDOn">

         <wsdlsoap:operation soapAction="isLEDOn"/>

         <wsdl:input name="isLEDOnRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isLEDOnResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setLight">

         <wsdlsoap:operation soapAction="setLight"/>

         <wsdl:input name="setLightRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setLightResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="requestStatus">

         <wsdlsoap:operation soapAction="requestStatus"/>

         <wsdl:input name="requestStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="requestStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ws.balanceboard.wii.linksmart.eu" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WiiBalanceBoardServiceService">

      <wsdl:port binding="impl:WiiBalanceBoardServiceSoapBinding" name="WiiBalanceBoardService">

         <wsdlsoap:address location="http://www.linksmart.eu/WiiBalanceBoardService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
