ddk/ServiceCompiler/resources/test/eu/linksmart/ZigbeeProxy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:linksmart="http://linksmart.eu/" xmlns:tns="http://www.t-connect.it/ZigbeeProxy/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="ZigbeeProxy" xmlns:impl="http://www.t-connect.it/ZigbeeProxy/"
	targetNamespace="http://www.t-connect.it/ZigbeeProxy/">

	<wsdl:message name="getDeployedServicesRequest">
		<wsdl:part name="address" type="xs:string" />
	</wsdl:message>
	<wsdl:message name="getDeployedServicesResponse">
		<wsdl:part name="deployedService" type="xs:string" />
	</wsdl:message>

	<wsdl:message name="getNetworkStatusRequest">
    </wsdl:message>

	<wsdl:message name="getNetworkStatusResponse">
		<wsdl:part name="networkStatus" type="xs:string" />
	</wsdl:message>
	
	<wsdl:message name="getServiceDataRequest">
    	<wsdl:part name="address" type="xs:string"/>
    	<wsdl:part name="serviceName" type="xs:string"/>
    	<wsdl:part name="parameter" type="xs:string"/>
  </wsdl:message>
  
  <wsdl:message name="getServiceDataResponse">
    <wsdl:part name="serviceData" type="xs:string"/>
  </wsdl:message>
  
   <wsdl:message name="addServiceDataRequest">
    <wsdl:part name="address" type="xs:string"/>
    <wsdl:part name="serviceXML" type="xs:string"/>
  </wsdl:message>
  <wsdl:message name="addServiceDataResponse">
    <wsdl:part name="result" type="xs:string"/>
  </wsdl:message>

	<wsdl:portType name="ZigbeeProxy">

		<wsdl:operation name="getDeployedServices">
			<wsdl:input message="tns:getDeployedServicesRequest" name="getDeployedServicesRequest" />
			<wsdl:output message="tns:getDeployedServicesResponse"
				name="getDeployedServicesResponse" />
		</wsdl:operation>

		<wsdl:operation name="getNetworkStatus">
			<wsdl:input message="tns:getNetworkStatusRequest" name="getNetworkStatusRequest" />
			<wsdl:output message="tns:getNetworkStatusResponse" name="getNetworkStatusResponse" />
		</wsdl:operation>
		
		 <wsdl:operation name="getServiceData">
      <wsdl:input message="tns:getServiceDataRequest" name="getServiceDataRequest"/>
      <wsdl:output message="tns:getServiceDataResponse" name="getServiceDataResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="addServiceData">
      <wsdl:input message="tns:addServiceDataRequest" name="addServiceDataRequest"/>
      <wsdl:output message="tns:addServiceDataResponse" name="addServiceDataResponse"/>
    </wsdl:operation>

	</wsdl:portType>


	<wsdl:binding name="ZigbeeProxySOAPBinding" type="tns:ZigbeeProxy">
		<linksmart:binding device="file:./resources/Device.owl#PicoTh03_Indoor" /> 
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getDeployedServices">
			<soap:operation soapAction="getDeployedServices" />
			<wsdl:input name="getDeployedServicesRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getDeployedServicesResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getNetworkStatus">
			<soap:operation soapAction="getNetworkStatus" />
			<wsdl:input name="getNetworkStatusRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getNetworkStatusResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		
		 <wsdl:operation name="getServiceData">
      <soap:operation soapAction="getServiceData"/>
      <wsdl:input name="getServiceDataRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    
    <wsdl:operation name="addServiceData">
      <soap:operation soapAction="addServiceData"/>
      <wsdl:input name="addServiceDataRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addServiceDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>    

	</wsdl:binding>

	<wsdl:service name="ZigbeeProxy">
		<wsdl:port name="ZigbeeProxy" binding="tns:ZigbeeProxySOAPBinding">
			<soap:address location="http://localhost:8086/ZigbeeProxy" />
		</wsdl:port>
	</wsdl:service>


</wsdl:definitions>
