components/DotNetCoreMiddleware/IoTSmartControlPoint/Web References/DiscoveryManagerWS/BluetoothDiscoveryWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResolveDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceURN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolveMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscoverDevices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscoverDevicesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xpath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDevicesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xpath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopDevicesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>