ddk/ServiceCompiler/sc_plugins/sc_linksmart/resources/templates/energy.wsdl

<wsdl:definitions name="LinkSmartDeviceWS" targetNamespace="http://tempuri.org/" xmlns:scpd="urn:schemas-upnp-org:service-1-0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:linksmart="linksmart">

  <!--====================== Messages ======================-->
  <wsdl:message name="ILinkSmartDeviceWSService_GetCurrentEffect_InputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetCurrentEffect_OutputMessage">
    <wsdl:part name="currentEffectResult" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetDeviceEnergyPolicy_InputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetDeviceEnergyPolicy_OutputMessage">
    <wsdl:part name="deviceEnergyPolicyResult" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetEnergyClass_InputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetEnergyClass_OutputMessage">
    <wsdl:part name="energyClassResult" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetEnergyMode_InputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetEnergyMode_OutputMessage">
    <wsdl:part name="energyModeResult" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetEnergyPolicyStatus_InputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetEnergyPolicyStatus_OutputMessage">
    <wsdl:part name="energyPolicyStatusResult" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetEnergyProfile_InputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetEnergyProfile_OutputMessage">
    <wsdl:part name="energyProfileResult" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetMaxEffect_InputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetMaxEffect_OutputMessage">
    <wsdl:part name="maxeffectResult" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetRemainingLifeTime_InputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_GetRemainingLifeTime_OutputMessage">
    <wsdl:part name="remainingLifeTimeResult" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicy_InputMessage">
    <wsdl:part name="deviceEnergyPolicy" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicy_OutputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicyFromURL_InputMessage">
    <wsdl:part name="deviceEnergyPolicyURL" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicyFromURL_OutputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_SetEnergyProfile_InputMessage">
    <wsdl:part name="energyProfile" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_SetEnergyProfile_OutputMessage">
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_SetEnergyProfileFromURL_InputMessage">
    <wsdl:part name="energyProfileURL" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ILinkSmartDeviceWSService_SetEnergyProfileFromURL_OutputMessage">
  </wsdl:message>
  <!--====================== Operations ======================-->
  <wsdl:portType name="ILinkSmartDeviceWSService">
    <wsdl:operation name="GetCurrentEffect">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_GetCurrentEffect_InputMessage" name="ILinkSmartDeviceWSService_GetCurrentEffect_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_GetCurrentEffect_OutputMessage" name="ILinkSmartDeviceWSService_GetCurrentEffect_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceEnergyPolicy">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_GetDeviceEnergyPolicy_InputMessage" name="ILinkSmartDeviceWSService_GetDeviceEnergyPolicy_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_GetDeviceEnergyPolicy_OutputMessage" name="ILinkSmartDeviceWSService_GetDeviceEnergyPolicy_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetEnergyClass">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_GetEnergyClass_InputMessage" name="ILinkSmartDeviceWSService_GetEnergyClass_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_GetEnergyClass_OutputMessage" name="ILinkSmartDeviceWSService_GetEnergyClass_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetEnergyMode">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_GetEnergyMode_InputMessage" name="ILinkSmartDeviceWSService_GetEnergyMode_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_GetEnergyMode_OutputMessage" name="ILinkSmartDeviceWSService_GetEnergyMode_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetEnergyPolicyStatus">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_GetEnergyPolicyStatus_InputMessage" name="ILinkSmartDeviceWSService_GetEnergyPolicyStatus_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_GetEnergyPolicyStatus_OutputMessage" name="ILinkSmartDeviceWSService_GetEnergyPolicyStatus_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetEnergyProfile">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_GetEnergyProfile_InputMessage" name="ILinkSmartDeviceWSService_GetEnergyProfile_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_GetEnergyProfile_OutputMessage" name="ILinkSmartDeviceWSService_GetEnergyProfile_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetMaxEffect">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_GetMaxEffect_InputMessage" name="ILinkSmartDeviceWSService_GetMaxEffect_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_GetMaxEffect_OutputMessage" name="ILinkSmartDeviceWSService_GetMaxEffect_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingLifeTime">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_GetRemainingLifeTime_InputMessage" name="ILinkSmartDeviceWSService_GetRemainingLifeTime_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_GetRemainingLifeTime_OutputMessage" name="ILinkSmartDeviceWSService_GetRemainingLifeTime_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceEnergyPolicy">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_SetDeviceEnergyPolicy_InputMessage" name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicy_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_SetDeviceEnergyPolicy_OutputMessage" name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicy_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceEnergyPolicyFromURL">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_SetDeviceEnergyPolicyFromURL_InputMessage" name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicyFromURL_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_SetDeviceEnergyPolicyFromURL_OutputMessage" name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicyFromURL_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SetEnergyProfile">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_SetEnergyProfile_InputMessage" name="ILinkSmartDeviceWSService_SetEnergyProfile_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_SetEnergyProfile_OutputMessage" name="ILinkSmartDeviceWSService_SetEnergyProfile_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SetEnergyProfileFromURL">
      <wsdl:input message="tns:ILinkSmartDeviceWSService_SetEnergyProfileFromURL_InputMessage" name="ILinkSmartDeviceWSService_SetEnergyProfileFromURL_InputMessage"/>
      <wsdl:output message="tns:ILinkSmartDeviceWSService_SetEnergyProfileFromURL_OutputMessage" name="ILinkSmartDeviceWSService_SetEnergyProfileFromURL_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <!--====================== Bindings ======================-->
  <wsdl:binding name="BasicHttpBinding_ILinkSmartDeviceWSService" type="tns:ILinkSmartDeviceWSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentEffect">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#GetCurrentEffect" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_GetCurrentEffect_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_GetCurrentEffect_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceEnergyPolicy">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#GetDeviceEnergyPolicy" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_GetDeviceEnergyPolicy_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_GetDeviceEnergyPolicy_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnergyClass">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#GetEnergyClass" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_GetEnergyClass_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_GetEnergyClass_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnergyMode">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#GetEnergyMode" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_GetEnergyMode_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_GetEnergyMode_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnergyPolicyStatus">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#GetEnergyPolicyStatus" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_GetEnergyPolicyStatus_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_GetEnergyPolicyStatus_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnergyProfile">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#GetEnergyProfile" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_GetEnergyProfile_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_GetEnergyProfile_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxEffect">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#GetMaxEffect" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_GetMaxEffect_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_GetMaxEffect_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingLifeTime">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#GetRemainingLifeTime" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_GetRemainingLifeTime_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_GetRemainingLifeTime_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceEnergyPolicy">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#SetDeviceEnergyPolicy" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicy_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicy_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceEnergyPolicyFromURL">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#SetDeviceEnergyPolicyFromURL" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicyFromURL_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_SetDeviceEnergyPolicyFromURL_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEnergyProfile">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#SetEnergyProfile" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_SetEnergyProfile_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_SetEnergyProfile_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEnergyProfileFromURL">
      <soap:operation soapAction="urn:schemas-upnp-org:energyservice::1#SetEnergyProfileFromURL" style="document" />
      <wsdl:input name="ILinkSmartDeviceWSService_SetEnergyProfileFromURL_InputMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ILinkSmartDeviceWSService_SetEnergyProfileFromURL_OutputMessage">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!--====================== Service ======================-->
  <wsdl:service name="LinkSmartDeviceWS">
    <wsdl:port name="BasicHttpBinding_ILinkSmartDeviceWSService" binding="tns:BasicHttpBinding_ILinkSmartDeviceWSService">
      <soap:address location="http://192.168.0.107:57229/energy" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>