components/EventManager/resources/wsdl/EventSubscriberService_NotifyData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://eventmanager.linksmart.eu" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://eventmanager.linksmart.eu">
  <xs:element name="notify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="parts" nillable="true" type="tns:ArrayOfPart"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="tns:Part"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPart" nillable="true" type="tns:ArrayOfPart"/>
  <xs:complexType name="Part">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Part" nillable="true" type="tns:Part"/>
  <xs:element name="notifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notifyResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>