components/DotNetCoreMiddleware/EventManager/Event/Web References/EventManager/Meta0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://eventmanager.linksmart.eu" elementFormDefault="qualified" targetNamespace="http://eventmanager.linksmart.eu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8124/Service/Meta?xsd=xsd1" />
  <xs:element name="getSubscriptions">
    <xs:complexType />
  </xs:element>
  <xs:element name="getSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="getSubscriptionsReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Subscription">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="HID" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="topic" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="publish">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="topic" />
        <xs:element minOccurs="0" maxOccurs="1" ref="in1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Part">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" form="unqualified" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="publishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" ref="publishReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>