components/StorageArchitecture/StorageManagerCommonBundle/resources/Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Response" xmlns:tns="http://www.example.org/Response" elementFormDefault="qualified">

    <complexType name="ResponseType">
    	<sequence>
    		<element name="error" type="string" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    	<attribute name="errorCode" type="string" use="required"></attribute>
    </complexType>

    <element name="voidResult" type="tns:ResponseType"></element>
</schema>